# Default values for kube-guardian.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  # -- Labels to apply to all resources
  labels: {}
  # -- Annotations to apply to all resources
  annotations: {}

  # -- Priority class to be used for the kube-guardian pods
  priorityClassName: ""

namespace:
  name: ""
  # -- Labels to add to the namespace
  labels: {}
  # -- Annotations to add to the namespace
  annotations: {}

controller:
  image:
    repository: ghcr.io/xentra-ai/images/guardian-controller
    pullPolicy: Always
    tag: "edge"
    # -- Overrides the image tag.
    sha: ""
  initContainerImage: busybox

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Annotations to add to the service account
    annotations: {}
    # -- The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""
    # -- Automount API credentials for a service account
    automountServiceAccountToken: false

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 80

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  # -- Node labels for the kube-guardian controller pod assignment
  nodeSelector:
    kubernetes.io/os: linux

  # -- Tolerations for the kube-guardian controller pod assignment
  tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

  affinity: {}

  # -- Priority class to be used for the kube-guardian controller pods
  priorityClassName: ""

broker:
  # -- Number of broker replicas to deploy
  replicaCount: 1
  image:
    repository: ghcr.io/xentra-ai/images/guardian-broker
    pullPolicy: Always
    tag: "latest"
    # Overrides the image tag.
    sha: ""

  container:
    port: 9090

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""
    # Automount API credentials for a service account
    automountServiceAccountToken: false

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    name: "broker"
    type: ClusterIP
    port: 9090

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  # -- Node labels for the kube-guardian broker pod assignment
  nodeSelector:
    kubernetes.io/arch: amd64

  # -- Tolerations for the kube-guardian broker pod assignment
  tolerations: []

  affinity: {}

  # Optional priority class to be used for the kube-guardian broker pods
  priorityClassName: ""

database:
  name: guardian-db
  image:
    repository: postgres
    pullPolicy: Always
    tag: "latest"
    # Overrides the image tag.
    sha: ""

  persistence:
    enabled: false
    existingClaim: ""

  container:
    port: 5432

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""
    # Automount API credentials for a service account
    automountServiceAccountToken: false

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    name: "guardian-db"
    type: ClusterIP
    port: 80

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  # -- Node labels for the kube-guardian database pod assignment
  nodeSelector: {}

  # -- Tolerations for the kube-guardian database pod assignment
  tolerations: []

  affinity: {}

  # -- Priority class to be used for the kube-guardian database pods
  priorityClassName: ""
