[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
clap = { version = "4.0", features = ["derive"] }
aya-tool = { git = "http://github.com/aya-rs/aya", branch = "main" }
