name: Build and Test Advisor

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-go.yaml
      - 'advisor/*.go'
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-go.yaml
      - 'advisor/*.go'

permissions:
  contents: read

defaults:
  run:
    working-directory: ./advisor

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21.x' ]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: latest
          working-directory: ./advisor
          args: --timeout=5m

  build:
    runs-on: ubuntu-latest
    needs: [lint]
    strategy:
      matrix:
        go-version: [ '1.21.x' ]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: go get -v ./...

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test -v ./... > test-results-${{ matrix.go-version }}.json

      - name: Upload Go test results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: test-results-${{ matrix.go-version }}
          path: test-results-${{ matrix.go-version }}.json
