name: "Charts: Release to GHCR OCI"

on:
  workflow_dispatch: {}
  push:
    tags:
      - "v*"
    branches:
      - main
    paths:
      - "charts/**"

env:
  CHARTS_SRC_DIR: "kube-guardian"
  TARGET_REGISTRY: ghcr.io

jobs:
  release-charts:
    name: Release Charts
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.TARGET_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          # REQUIRED: We don't want this to override latest when the latest is used by the quick-install.sh for the advisor client
          mark_as_latest: false
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Publish Helm Chart to GHCR
        run: |
          helm package charts/${{ env.CHARTS_SRC_DIR }}
          helm push ${{ env.CHARTS_SRC_DIR }}-*.tgz oci://${{ env.TARGET_REGISTRY }}/${{ github.repository_owner }}/charts
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
